#number1{
  background-color: #e7eaf6;
}





.divimg1{
        text-align:center;
        margin-left: auto;
         margin-right: auto;


    }
    .divtxt1{
         padding:118px;

    }

    .txt1{
        text-align:center;
          font-size:50px;
    }
     .txt2{
        text-align:center;
          font-size:30px;
    }
    .img{
       margin-top:10%;
       margin-bottom:10%;

       width: 90%;
       hight:auto;
    }
