#number1{
  background-color: white;
}





.divimg1{
        text-align:center;
        margin-left: auto;
         margin-right: auto;
         height:auto;
         width:90%;




    }
    .divtxt1{
         padding:118px;

    }

    .txt1{
        text-align:center;
        font-family: 'Alumni Sans Inline One', cursive;
          font-size:2vw;
    }
     .txt2{
        text-align:center;
          font-size:1.5vw;
    }
    .img{
       margin-top:10%;
       margin-bottom:10%;

       width: 90%;
       hight:auto;
    }

.cards{
  text-align:center;
  margin-left:auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card{
  width:60%;
  margin-left:auto;
  margin-right:auto;

}
